.card .card-body {
    padding: 1.25rem;
}

.main-panel .content-wrapper {
    padding: 1rem 1.25rem;
    zoom: 85%;
}

@media only screen and (max-width: 768px) {
    .main-panel .content-wrapper {
        padding: 1rem 1.25rem;
        
    }

    .card .card-body {
        padding: 1rem;
    }
}

